name: CI

on:
  pull_request:

jobs:
  build:
    name: Test
    runs-on: Ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.0', '8.1']
        strategy: [ 'highest' ]
        sf_version: ['5.*', '6.*']
        include:
            - php: 7.2
              sf_version: '3.*'
            - php: 7.3
              sf_version: '3.*'
            - php: 7.4
              sf_version: '4.*'
            - php: 7.4
              sf_version: '5.*'
            - php: 7.4
              sf_version: '5.*'
              strategy: 'lowest'
            - php: 8.1
              sf_version: '6.*'
              strategy: 'lowest'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: flex

      - name: Download dependencies
        uses: ramsey/composer-install@v1
        env:
            SYMFONY_REQUIRE: ${{ matrix.sf_version }}
        with:
          dependency-versions: ${{ matrix.strategy }}
          composer-options: --no-interaction --prefer-dist --optimize-autoloader

      - name: Run tests
        run: ./vendor/bin/phpunit

